body {
  /* font-family: 'Zilla Slab Highlight', cursive; */
  /* font-family: 'Staatliches', cursive; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Zilla Slab', serif;


  /* background: #FFFCE1; */
  background: black;
  color: white;

 }

/* navbar */
.navbar {
  margin-bottom: 70px;
}

ul li {
 float: right;
 list-style: none;
 margin-right: 1em;
 margin-top: 1em;
 border: 1px solid orange;
 background: whitesmoke;
 opacity: 0.8;


}

li a {
 /* color: whitesmoke; */
 /* color: rgb(58,192,); */

 color: rgb(0,122,114);
 text-decoration: none;
 float: right;
 font-size: 15px;
 padding: 12px;
}

li a:hover {
 color: rgb(0,122,114);
}

li a:hover {
	-webkit-transform: rotate(-10deg) scale(1.2);
	-moz-transform: rotate(-10deg) scale(1.2);
	-o-transform: rotate(-10deg) scale(1.2);
}

.left a:hover {
 /*Transition*/
 -webkit-transition:All .5s ease;
 -moz-transition:All .5s ease;
 -o-transition:All .5s ease;
 /*Transform*/
 -webkit-transform: rotate(-10deg) scale(1.2);
 -moz-transform: rotate(-10deg) scale(1.2);
 -o-transform: rotate(-10deg) scale(1.2);
}

.right a:hover {
 /*Transition*/
 -webkit-transition:All .5s ease;
 -moz-transition:All .5s ease;
 -o-transition:All .5s ease;
 /*Transform*/
 -webkit-transform: rotate(10deg) scale(1.2);
 -moz-transform: rotate(10deg) scale(1.2);
 -o-transform: rotate(10deg) scale(1.2);
}
/* navbar end  */

#boca {
  padding-bottom: 140px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) ), url(../images/backgrounds/background_bar.jpg) no-repeat center center fixed;
}

#info {
  background: black;
  color: whitesmoke;
  padding: 53px 0px 53px 0px;
}

#food-background {
  padding-bottom: 200px;
  padding-top: 300px;
  background: url(../images/backgrounds/background_order_here.jpg) no-repeat center center fixed;
  margin-bottom: 100px;
}

#food-background-pulledpork {
  padding-bottom: 200px;
  padding-top: 300px;
  background: url(../images/backgrounds/background_guitar.jpg) no-repeat center center fixed;
  margin-bottom: 100px;
  margin-top:100px;
}

#food-background-boca-outside {
  padding-bottom: 200px;
  padding-top: 300px;
  background: url(../images/backgrounds/background_boca.jpg) no-repeat center center fixed;
  margin-bottom: 100px;
  margin-top:100px;
}

#background-beer {
  padding-bottom: 200px;
  padding-top: 300px;
  background: url(../images/backgrounds/background_beer.jpg) no-repeat center center fixed;
  margin-bottom: 100px;
  margin-top:100px;
}

#menu {
  margin-bottom: 100px;
}

.opening-banner {
  margin-bottom: 100px;
}

.boca-middle {
  background: transparent
}

.nav_logo {
  width: 400px;
  border-radius: 20px;
  /* background: whitesmoke; */
}
/*
.logo-left-up {
  width: 100px;
  height: 100px;
  float: left;
  margin-top: 10px;
  padding: 10px;
  transform: rotate(-20deg);
  border-radius: 50px;
} */

.quesadilla {
  width: 800px;
  height: 500px;
  border-radius: 40px;
}

.boca-front {
  width: 700px;
  height: 400px;
  border-radius: 10px;
}

.siesta {
  border-radius: 300px;
}
/* centralizing imgs carousel*/
.carousel-inner > .item > img {
  margin: 0 auto;
}

.opening-banner {
  text-align: center;
  font-size: 2.5rem;
  font-style: italic;
}

.boca-info-text {
  font-size: 1.7rem;
}

.boca-info-text-second {
  margin-top:50px;
}

.social {
  display: block;
  text-align: center;
  margin-top:30px;
  font-size: 1.5rem;
}

.social a {
  padding: 10px;
}

.fa-facebook-f, .fa-instagram {
}

.mic-logo {
  width: 50px;
  border-radius: 100px;
  margin-left: 15px;
}

.beer-logo {
  width: 120px;
  position: relative;
  bottom: 90px;
  left:30px;
  border-radius: 20px;

}

.description {
  font-size: 1.8rem;
}

.boca-spicy {
  width: 60px;
  border-radius: 100px;
  position: relative;
  bottom:10px;
}

.boca-spicy-headline {
  width: 60px;
  border-radius: 100px;
  margin-left: 15px;
}

.address {
  text-align: left;
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 2.1rem;
  font-weight: 100;
}

.show-image {
  width: 400px;
  padding-right: 50px;
}

.headline-show {
  color:#54C1B8;
}

.headline-show-dates {
  color: orange;
}

.boca-live-img {
  position: relative;
  left:500px;
  bottom:100px;
  width: 120px;
  margin-bottom:50px;
  margin-top:50px;
  transform: rotate(-20deg);
  margin-left: auto;
}

.show-text {
  font-size: 1.6rem;

}

.heading-kulinarisch {
  margin-bottom: 35px;
}

.download {
  font-size: 2.5rem;
  color: rgb(0, 122, 114);
}

.culture-programme {
  margin-bottom: 35px;
}

.contact-text {
  text-align: center;
  font-size: 2rem;
  padding-top:30px;
  padding-bottom: 100px;
}

.gallery-row {
  margin-bottom: 100px;
}

.gallery-img {
  border-radius: 5px;

}

.heading-gallery {
  margin-bottom:50px;
}


.contact-heading {
}

.privacy  {
  color:#54C1B8;
}

footer {
  padding:100px;
}
